.c-footer {
  margin: 0;
  position: relative;
  bottom: 0;
  clear: both;
  font-family: Inter;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 280px;
  background: #333333;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  padding: 1em 0 1em 0;
  &__content {
    margin: 3em auto 0 auto;
    width: 30%;
    &__list {
      padding: 0;
    }
    &__links {
      padding: 0 1em;
      display: inline;
    }
    &__copy {
      margin-top: 4em;
      text-align: center;
    }
  }
}
